<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "views/partials/bootstrapcss.partial" .}}
    <title>{{.Title}}</title>
</head>
<body>
    <!-- Navigation Start -->
    {{template "views/partials/navigation.partial" .}}
    <!-- Navigation End -->
    
    <!-- Body Start -->
    {{embed}}
    <!-- Body End -->
    
    
    {{template "views/partials/bootstrapjs.partial" .}}
</body>
</html>